<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragment/config :: configFragment">
    </th:block>
    <style>
        body {
            margin : 0;
            padding : 0;
        }

        .bg-video {
            position : fixed;
            top : 0;
            left : 0;
            min-width : 100%;
            min-height : 100%;
            width : auto;
            height : auto;
            z-index : -1;
        }

        .navbar, footer {
            background: rgb(35,107,175);
        }
    </style>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="./main"><img src="assets/logo.png"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="./my-class">내 진행중인 강의</a></li>
                    <li class="nav-item"><a class="nav-link" href="./join-class">참여중인 강의</a></li>
                    <li class="nav-item"><a class="nav-link" href="./add-class">강의 개설</a></li>
                    <li class="nav-item"><a class="nav-link" href="./my-class-list">나의 강의 관리</a></li>
                    <li class="nav-item"><a class="nav-link" href="./my-elrolment-list">수강 관리</a></li>
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="nav-item"><a class="nav-link" href="./logout">로그아웃</a></li>
                    </th:block>
                </ul>
            </div>
        </div>
    </nav>
    <div class="progress" style="z-index: 9999; display: none;" id="progressMain">
        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" id="progress" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <th:block layout:fragment="content">
    </th:block>
</main>
<footer class="py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; 경민 클래스룸 2021</div></div>
        </div>
    </div>
</footer>
<div class="modal fade" id="msgBox" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="msgBoxContent">
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" data-bs-target="#msgBox" data-bs-toggle="modal" id="msgBoxYesBtn">확인</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmBox" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="confirmBoxContent">
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-sm" id="confirmBoxYesBtn">예</button>
                <button class="btn btn-danger btn-sm" data-bs-target="#confirmBox" data-bs-toggle="modal">아니오</button>
            </div>
        </div>
    </div>
</div>
<script src="js/scripts.js"></script>
<script>
    const msgBox = new bootstrap.Modal(document.getElementById("msgBox"), {});
    const msgBoxContent = document.getElementById('msgBoxContent');
    const msgBoxYesBtn = document.getElementById('msgBoxYesBtn');

    const confirmBox = new bootstrap.Modal(document.getElementById("confirmBox"), {});
    const confirmBoxContent = document.getElementById('confirmBoxContent');
    const confirmBoxYesBtn = document.getElementById('confirmBoxYesBtn');

    const progressBar = document.getElementById('progress');
    const progressMain = document.getElementById('progressMain');

    function progress(percent,time, callback){
        progressMain.style.display = '';
        progressBar.style.width = `${percent}%`;
        setTimeout(callback,time);
    }

    function showMessage(message, callback){
        msgBoxContent.innerText = message;
        msgBoxYesBtn.addEventListener('click',()=>{
           callback();
        });
        msgBox.show();
    }

    function showConfirmMessage(message, callback){
        confirmBoxContent.innerText = message;
        confirmBoxYesBtn.addEventListener('click',()=>{
            confirmBox.hide();
            callback();
        });
        confirmBox.show();
    }

    function selectControll(dom, value){
        for(let i =0;i<dom.length;i++){
            if(value === dom[i].value){
                dom[i].selected = true;
            }
        }
    }

    function radioControll(dom, value){
        dom.forEach(node=>{
            if(node.value === value){
                node.checked = true;
            }
        });
    }

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function parseDayOfWeek(dayOfWeek){
        switch (dayOfWeek){
            case 'MONDAY':
                return '월';
            case 'TUESDAY':
                return '화';
            case 'WEDNESDAY':
                return '수';
            case 'THURSDAY':
                return '목';
            case 'FRIDAY':
                return '금';
            case 'SATURDAY':
                return '토';
            case 'SUNDAY':
                return '일';
        }
    }

    function numberToHour(number){
        if(number.toString().length < 2){
            return "0" + number;
        }
        return number;
    }

    function ableloopScroll(callback){
        function debounce(callback, limit = 100) {
            let timeout
            return function(...args) {
                clearTimeout(timeout)
                timeout = setTimeout(() => {
                    callback.apply(this, args)
                }, limit)
            }
        }

        document.addEventListener("scroll", debounce(e => {
            const { clientHeight, scrollTop, scrollHeight } = e.target.scrollingElement
            if(clientHeight + scrollTop >= scrollHeight - 100) {
                callback();
            }
        }, 100))
    }
</script>
<th:block layout:fragment="scripts">
</th:block>
</body>
</html>