<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main-layout">
<th:block layout:fragment="css">
</th:block>
<div layout:fragment="content">
    <section class="py-4">
        <div class="container-fluid px-3">
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-2">
                    <select class="form-select" aria-label="Default select example">
                        <option value="2" disabled selected>강의 일정 보기</option>
                        <option value="2">전체보기</option>
                        <option value="3">강의 일정 있음</option>
                        <option value="3">강의 일정 없음</option>
                    </select>
                </div>
                <div class="col-2">
                    <select class="form-select" aria-label="Default select example">
                        <option value="2" disabled selected>요일을 선택하세요.</option>
                        <option value="2">전체보기</option>
                        <option value="3">월요일</option>
                        <option value="3">화요일</option>
                        <option value="3">수요일</option>
                        <option value="3">목요일</option>
                        <option value="3">금요일</option>
                        <option value="3">토요일</option>
                        <option value="3">일요일</option>
                    </select>
                </div>
                <div class="col-2">
                    <select class="form-select" aria-label="Default select example">
                        <option value="2" disabled selected>상태를 선택하세요.</option>
                        <option value="2">전체보기</option>
                        <option value="2">활성화</option>
                        <option value="3">비활성화</option>
                    </select>
                </div>
            </div>
            <table class="table mt-3 table-bordered">
                <thead>
                <tr>
                    <th scope="col">코드</th>
                    <th scope="col">수업명</th>
                    <th scope="col">수업 설명</th>
                    <th scope="col">상태</th>
                    <th scope="col">수강자(명)</th>
                    <th scope="col">수강신청(명)</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <input type="text" id="copyInput" style="display: none">
    </section>
</div>
<div layout:fragment="scripts">
    <script>

    </script>
</div>
</html>