<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main-layout">
<th:block layout:fragment="css">
</th:block>
<div layout:fragment="content">
    <section class="py-4">
        <div class="container-fluid px-3">
            <div class="row">
                <div class="col-2">
                    <select class="form-select" aria-label="Default select example" id="stateSelect">
                        <option value="ALLOWED">승인</option>
                        <option value="NOT">미승인</option>
                    </select>
                </div>
            </div>
            <table class="table mt-3 table-bordered">
                <thead>
                <tr>
                    <th scope="col">코드</th>
                    <th scope="col">수강 신청일</th>
                    <th scope="col">상태</th>
                </tr>
                </thead>
                <tbody id="elrolmentList">
                </tbody>
            </table>
        </div>
        <input type="text" id="copyInput" style="display: none">
    </section>
</div>
<div layout:fragment="scripts">
    <script>
        let page = 0;

        const elrolmentList = document.getElementById('elrolmentList');
        const stateSelect = document.getElementById('stateSelect');

        init();
        getData(page, stateSelect.value);

        function init(){
            stateSelect.addEventListener('change',(event)=>{
                elrolmentList.innerHTML = '';
                page = 0;
                getData(page, event.target.value);
            });
        }

        function getData(page, state){
            axios.get(`/api/elrolment`,{
                params : {
                    page : page,
                    size : 10,
                    state : state
                }
            })
            .then(res=>{
                res = res['data']['response'];
                const elrolments = res['elrolmentModels'];
                const totalElements = res['totalElement'];

                let content = ``;
                elrolments.map(elrolment=>{
                    content += `
                        <tr>
                            <td>${elrolment['code']}</td>
                            <td>${elrolment['elrolmentDate']}</td>
                            <td>${elrolment['state'] === 'NOT' ? '미승인' : '승인'}</td>
                        </tr>
                    `;
                });
                elrolmentList.innerHTML = content;
            }).catch(error=>{
            });
        }
    </script>
</div>
</html>