<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main-layout">
<th:block layout:fragment="css">
    <style>
        .class-box {
            cursor: pointer;
        }

        .class-box:hover {
            transform: translateY(-15px);
            transition: 0.4s;
        }
    </style>
</th:block>
<div layout:fragment="content">
    <th:block th:replace="fragment/bgVideo :: videoFragment">
    </th:block>
    <th:block th:replace="fragment/enterClassroom :: enterClassroomFragment">
    </th:block>
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <section>
                    <div class="container px-5">
                        <div class="row gx-5" id="classList">
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <input type="text" id="copyInput" style="display: none">
    </section>
</div>
<div layout:fragment="scripts">
    <script>
        let page = 0;
        const classList = document.getElementById('classList');
        const copyInput = document.getElementById('copyInput');

        getData(page);
        function getData(page){
            const data = [
                {
                    register : '유상현',
                    dayOfWeek : '월',
                    startHour : 15,
                    endHour : 17,
                    code : 'abs1',
                    title : '클라우드 플랫폼',
                    color : 'primary'
                },
                {
                    register : '전봉만',
                    dayOfWeek : '화',
                    startHour : 15,
                    endHour : 17,
                    code : 'ABCDEFGHIJKYMS',
                    title : '대화의 기법',
                    color : 'danger'
                },
                {
                    register : '이승원',
                    dayOfWeek : '수',
                    startHour : 15,
                    endHour : 17,
                    code : 'ABCDEFGHIJKYMS',
                    title : '소프트웨어 보안',
                    color : 'secondary'
                },
                {
                    register : '조성택',
                    dayOfWeek : '목',
                    startHour : 15,
                    endHour : 17,
                    code : 'ABCDEFGHIJKYMS',
                    title : '캡스톤 디자인',
                    color : 'info'
                },
                {
                    register : '박남일',
                    dayOfWeek : '목',
                    startHour : 15,
                    endHour : 17,
                    code : 'ABCDEFGHIJKYMS',
                    title : '실무 ERP',
                    color : 'success'
                },
            ];

            let content = '';
            data.map(classroom => {
                content += `
                            <div class="col-lg-4 mb-5 class-box" onclick="confirmClassroom('${classroom['code']}')">
                                <div class="card h-100 shadow border-0">
                                    <div class="card-header progress-bar progress-bar-striped bg-${classroom['color']}"></div>
                                    <div class="card-body p-4">
                                        <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3"><strong>${classroom['title']}</strong></div></a>
                                    </div>
                                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                        <div class="d-flex align-items-end justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                                <div class="small">
                                                    <div class="fw-bold">${classroom['register']}</div>
                                                    <div class="text-muted">(<span>${classroom['dayOfWeek']}</span>) ${classroom['startHour']}:00 ~ ${classroom['endHour']}:00</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                   `;
                classList.innerHTML = content;
            });
        }
    </script>
</div>
</html>