<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main-layout">
<th:block layout:fragment="css">
    <style>
        .student-card:hover {
            cursor:pointer;
            background: #F6F6F6;
            transition: 0.2s;
        }
    </style>
</th:block>
<div layout:fragment="content">
    <section>
        <div class="container">
            <div class="row gx-5">
                <aside class="bg-dark bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                    <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                        <div class="mb-4 mb-xl-0">
                            <div class="fs-3 fw-bold text-white" id="classroomTitle">클라우드 플랫폼</div>
                            <div class="text-white-50" id="registerId"><span id="dayOfWeek"></span><span id="hour"></span></div>
                        </div>
                    </div>
                </aside>
            </div>
            <br>
            <div class="row container">
                <div class="col-lg-6">
                    <h5>
                        <span class="badge bg-primary btn-sm position-relative">
                            수강신청 사용자
                            <span id="joinRequestCnt" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            </span>
                        </span>
                    </h5>
                    <div id="joinRequestList">
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5>
                        <span class="badge bg-secondary position-relative">
                            수강자
                            <span id="joinCnt" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            </span>
                        </span>
                    </h5>
                    <div id="joinList"></div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </section>
    <div class="modal fade" id="joinConfirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    정말 [<span id="joinRequesterId"></span>][<span id="joinRequesterName"></span>] 사용자를 위 수업에 참여시키시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" id="joinYesBtn">승인</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">미승인</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cencelConfirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    정말 [<span id="cencelRequesterId"></span>][<span id="cencelRequesterName"></span>] 사용자를 위 수업에서 퇴출시키시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" id="cencelYesBtn">퇴출</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert" class="container alert alert-success d-flex align-items-center fade" role="alert" style="width: 10%; position: fixed; left: 50%; top: 80%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div id="alertContent">
        </div>
    </div>
</div>
<div layout:fragment="scripts">
    <script>
        const code = getParameterByName('code');
        var classroomTitle = document.getElementById('classroomTitle');
        var hour = document.getElementById('hour');
        var dayOfWeek = document.getElementById('dayOfWeek');

        var joinRequestList = document.getElementById('joinRequestList');
        var joinList = document.getElementById('joinList');
        var joinRequestCnt = document.getElementById('joinRequestCnt');
        var joinCnt = document.getElementById('joinCnt');

        var selectJoinRequesterId;
        var selectCencelRequesterId;

        var joinConfirmModal = new bootstrap.Modal(document.getElementById("joinConfirmModal"), {});
        var cencelConfirmModal = new bootstrap.Modal(document.getElementById("cencelConfirmModal"), {});
        var alert = document.getElementById("alert");
        var alertContent = document.getElementById("alertContent");

        init();
        getClassroomData();
        getJoinRequestData();
        getJoinData();

        function getClassroomData(){
            const data = {
                title : '클라우드 플랫폼',
                dayOfWeek : 'MONDAY',
                startHour : 15,
                endHour : 17
            };
            classroomTitle.innerText = data['title'];
        }

        function getJoinRequestData(){
            axios.get(`/api/elrolment/${code}`,{
                params : {
                    state : 'NOT'
                }
            }).then(res=>{
                res = res['data']['response'];

                let content = '';
                res.map(elrolment=>{
                    content += `<div onclick="joinConfirm('${elrolment['requester']['requesterName']}','${elrolment['requester']['requesterEmail']}','${elrolment['requester']['requester']}')" class="d-flex mt-4 student-card" style="padding: 10px;">
                              <div class="flex-shrink-0"><img class="rounded-circle" src="${elrolment['requester']['requesterImage']}" alt="..." style="width: 50px; height: 50px;"/></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">${elrolment['requester']['requesterName']}</div>
                                    <div>
                                    ${elrolment['requester']['requesterEmail']}
                                    </div>
                              </div>
                        </div>`
                });
                joinRequestList.innerHTML = content;
                joinRequestCnt.innerHTML = res.length;
            });
        }

        function getJoinData(){
            axios.get(`/api/elrolment/${code}`,{
                params : {
                    state : 'ALLOWED'
                }
            }).then(res=>{
                res = res['data']['response'];

                let content = '';
                res.map(elrolment=>{
                    content += `<div onclick="cencelConfirm('${elrolment['requester']['requesterName']}','${elrolment['requester']['requesterEmail']}','${elrolment['requester']['requester']}')" class="d-flex mt-4 student-card" style="padding: 10px;">
                              <div class="flex-shrink-0"><img class="rounded-circle" src="${elrolment['requester']['requesterImage']}" alt="..." style="width: 50px; height: 50px;"/></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">${elrolment['requester']['requesterName']}</div>
                                    <div>
                                    ${elrolment['requester']['requesterEmail']}
                                    </div>
                              </div>
                        </div>`
                });
                joinCnt.innerText = res.length + "+";
                joinList.innerHTML = content;
            });
        }

        function init(){
            var cencelYesBtn = document.getElementById("cencelYesBtn");
            cencelYesBtn.addEventListener('click', ()=>{
                //// 퇴출 로직 추가해야함
                cencelConfirmModal.hide();
                showAlert('퇴출 완료');
            });

            // 사용자 승인
            var joinYesBtn = document.getElementById('joinYesBtn');
            joinYesBtn.addEventListener('click',()=>{
                //// 승인 로직 추가해야함

                axios.put(`/api/classroom/${code}/elrolment/${selectJoinRequesterId}`)
                .then(res=>{
                    joinConfirmModal.hide();
                    showAlert('승인 완료');
                }).catch(error=>{
                    showMessage(error.response['data']);
                });
            });
        }

        function showAlert(msg){
            alert.classList.add('show');
            alertContent.innerText = msg;

            setTimeout(()=>{
                alert.classList.add('fade');
                alert.classList.remove('show');
            },1000);
        }

        function joinConfirm(name, email, id){
            selectJoinRequesterId = id;
            document.getElementById("joinRequesterId").innerText = email;
            document.getElementById("joinRequesterName").innerText = name;
            joinConfirmModal.show();
        }

        function cencelConfirm(name, email, id){
            selectCencelRequesterId = id;
            document.getElementById("cencelRequesterId").innerText = email;
            document.getElementById("cencelRequesterName").innerText = name;
            cencelConfirmModal.show();
        }
    </script>
</div>
</html>