<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default-layout">
<th:block layout:fragment="css">
    <style>

    </style>
</th:block>
<div layout:fragment="content">
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 p-5 text-center card" style="left: -10px; cursor: pointer" data-bs-toggle="modal" data-bs-target="#openConferenceModal">
                <h2><i class="bi bi-plus-square-fill"></i></h2><h4>회의 개설</h4>
            </div>
            <div class="col-6 p-5 text-center card" style="left: 10px; cursor: pointer;">
                <h2><i class="bi bi-box-arrow-in-right"></i></h2><h4>코드로 회의 참여</h4>
            </div>
        </div>
    </div>

    <div class="modal fade" id="openConferenceModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">회의 개설</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div>
                        <div class="mb-3 mt-3">
                            회의 제목 :
                            <input th:class="mt-3" type="text" id="conferenceTitle">
                        </div>
                        <div class="mb-3">
                            회의 제한 인원 :
                            <input th:class="mt-3" type="number" class="form-control" id="limitCount" value="2" min="2" max="10">
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="openConferenceBtn" type="button" class="btn btn-success">회의 개최</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
                </div>

            </div>
        </div>
    </div>
</div>
<div layout:fragment="scripts">
    <script>
        document.getElementById('openConferenceBtn').addEventListener('click', ()=>{
           showConfirmMessage('정말 위 사항대로 회의를 개최하시겠습니까?', ()=>{
               $.ajax({
                   method: "post",
                   url: "/api/conference",
                   contentType: "application/json",
                   data: JSON.stringify({
                       title : document.getElementById('conferenceTitle').value.trim(),
                       limitCount : document.getElementById('limitCount').value,
                   }),
                   success : function(res){
                       location.href = `./conference?code=${res.code}`;
                   },
                   error : function(res){
                       showMessage(res.responseText, ()=>{})
                   }
               })
           });
        });
    </script>
</div>
</html>

