<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main-layout">
<th:block layout:fragment="css">
    <style>
        .class-box {
            cursor: pointer;
        }

        .class-box:hover {
            transform: translateY(-15px);
            transition: 0.4s;
        }
    </style>
</th:block>
<div layout:fragment="content">
    <th:block th:replace="fragment/bgVideo :: videoFragment">
    </th:block>
    <th:block th:replace="fragment/enterClassroom :: enterClassroomFragment">
    </th:block>
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5" id="classList">
            </div>
        </div>
        <input type="text" id="copyInput" style="display: none">
    </section>
</div>
<div layout:fragment="scripts">
    <script>
        const selfView = document.getElementById('selfView');

        let page = 0;
        const classList = document.getElementById('classList');
        const copyInput = document.getElementById('copyInput');

        ableloopScroll(()=>{
            getData(++page);
        });

        getData(page);
        function getData(page){
            axios.get(`./api/classroom`,{
                params : {
                    page : page,
                    size : 6,
                    state : "Activate"
                }
            }).then(res=>{
                res = res['data']['response'];
                const classrooms = res['classrooms'];
                const totalElement = res['totalElement'];
                if(totalElement === 0){
                    showConfirmMessage('진행중인 강의가 존재하지 않습니다. 강의를 새로 개설하시겠습니까?', ()=>{
                        location.href = './add-class';
                    });
                }
                let content = '';
                classrooms.map(classroom => {
                    content += `
                        <div class="col-lg-4 mb-5 class-box">
                            <div class="card h-100 shadow border-0">
                                <div class="card-header progress-bar progress-bar-striped bg-${classroom['classInfo']['color']}"></div>
                                <div class="card-body p-4">
                                    <h4 class="card-title mb-3"><strong>${classroom['classInfo']['title']}</strong></h4>
                                    <a href="javascript:copyCode('${classroom['code']}')"><span style="font-size: 11px;">코드 : ${classroom['code']}</span></a>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="fw-bold">(${parseDayOfWeek(classroom['classDateInfo']['dayOfWeek'])}) ${numberToHour(classroom['classDateInfo']['startHour'])}:00 ~ ${numberToHour(classroom['classDateInfo']['endHour'])}:00</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div style="float: right">
                                        <button class="btn btn-dark btn-sm" onclick="confirmClassroom('${classroom['code']}')">수업 입장</button>
                                        <button class="btn btn-success btn-sm" onclick="updateClass('${classroom['code']}')">수정</button>
                                        <button class="btn btn-danger btn-sm" onclick="showJoiner('${classroom['code']}')">학생</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                   `;
                });
                classList.innerHTML += content;
            }).catch(err=>{
            });
        }

        function copyCode(code){
            copyInput.style.display = 'block';
            copyInput.value = code;
            copyInput.select();
            document.execCommand('copy');
            copyInput.style.display = 'none';
        }

        function updateClass(code){
            location.href = `./update-class?code=${code}`;
        }

        function showJoiner(code){
            location.href = `./joiner-list?code=${code}`;
        }
    </script>
</div>
</html>